p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.Main-Container {
  padding-top: 200px;
  display: flex; /* Make the container a flexbox */
  height: 50vh;
  width: 100%;
  background-color: #fceccc;
  justify-content: space-between; /* Ensure there's space between the sections */
}

.Left-Space, .Center-Space{
  flex: 1.25; /* Allow each section to grow equally */
  height: 30vh;
  padding: 40px;
}
.Right-Space{
    flex: 1; /* Allow each section to grow equally */
    height: 30vh;
    padding: 40px;
}

.Right-Space {
  display: flex; /* Make this a flexbox as well to align items inside */
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
}

  

.Heading{
    display: flex;
    height: 150px;
}


