.Header {
  position: fixed; /* Locks the header to the top of the Screen */
  top: 0; 
  width: 100%; 
  background-color: #fceccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000; /* Ensures the header is on top of other content */
}

.Logo {
  width: 150px;
  justify-self: start;
}

.Heading {
  justify-self: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding-left: 20px;
}

.Moving-Riders {
  height: 200px;
}
