.footer {
    background-color: #CABDA3; /* Set your desired background color */
    color: #000000; /* Set your desired text color */
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center; /* Center align text */
    width: 100%; /* Ensure full width */
  }

  